$primary-color:#5ECE7B;
$bgColorTextShadow:0px 8px 16px 0px rgba(0,0,0,0.2);
$bgElementHover: #e8e8e8;

.cart-page-container{
    position: relative;
    width: 100%;
    padding:40px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    .title-container{
        width:80%;
    }
       
    .checked-products-container:hover {
        background-color: #e8e8e869;
        
    }
    .products-container {
        .products {
            padding:10px;
            width: 100%;
            border-top: 1px groove silver;
            display: flex;
            box-shadow: none;
            gap: 10px;
            .third-column-container {
                min-height: 140px;
                .buttons-slider-container {
                    min-width:140px;
                    position:absolute;
                    z-index:1;
                    button {
                        position: absolute;
                        margin-top: 50px;
                        z-index: 1;
                        cursor: pointer;
                        text-decoration: none;
                        color: black;
                        margin-left: 67px;
                        padding: 10px 1px 10px 5px;
                        transition: background-color 1s;
                        border-radius: 3px;
                        background-color: inherit;
                        border: none;
                        span {
                            display: inline-block;
                            border-left: 3px solid white;
                            border-bottom: 3px solid white;
                            padding:5px;
                            margin-top: 4px;
                        }
                    }
                    button:hover {
                        background-color: black;
                    }
                    button:first-child {
                        span {
                            transform: rotate(43deg);
                        }
                    }
                    button:last-child{
                        span {
                            transform: rotate(226deg);
                        }
                        margin-left: 1px;
                        padding: 10px 5px 10px 1px;
                    }
                }
                .images-container {
                    min-height: 140px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    padding: 0;
                    img {
                        width: 100%;
                        object-fit: cover;
                        cursor: default;
                        height: 100%;
                    }
                }
            }
            .second-column-container {
                .count-buttons-container{
                    min-height: 140px;
                    button {
                        text-decoration: none;
                        background-color: #fff;
                        font-size: 13px;
                        border: 1px solid black;
                        padding: px;
                        padding: 1px;
                        text-align: center;
                        color: black;
                        width: 100%;
                        max-width: 22px;
                        cursor:pointer;
                    }
                }
            }
            .first-column-container{
                display:flex;
                justify-content: space-between;
                gap:5px;
                .name-container {
                    padding:0;
                    a {
                        padding:0;
                        span{padding:0;}
                    }
                }
                .price-container {
                    padding:0;
                }
                .buttons {
                    width:100%;
                    justify-content: flex-start;
                    gap:5px;
                    button, .active-button {
                        text-decoration: none;
                        padding: 8px 10px;
                        display: block;
                        color: black;
                        border: 1px solid black;
                        font-size: 10px;
                        text-align: center;
                        background-color: white;
                        cursor:pointer;
                    }
                    .active-button  {
                        color:white;
                        background-color: black;
                    }
                    button[class='color-buttons'] {
                        min-width: 40px;
                        min-height:40px;
                        border: none;
                        opacity: 0.3;
                    }
                    button[class='color-buttons active-button']{
                        box-shadow: 0 0 10px black;
                        min-width: 40px;
                        min-height:40px;
                        border:1px solid silver;
                        opacity:1;
                    }
                }
            }
        }
       .products:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
       }
    }

}

@media screen and (max-width:700px) {
    .cart-page-container .products-container, .cart-page-container .title-container {
        width:100%;
    }
}


@media screen and (max-width:390px) {
  
    .cart-page-container .name-container  > a > span {
        font-size:13px;
    }
    .cart-page-container .products-container {
        min-width:10px;
    }
    .cart-page-container .products-container .products {
        overflow-x:scroll;
    }
    .cart-page-container .products-container .products .first-column-container .buttons-container a {
        font-size:9px;
    }
}
