$primary-color:#5ECE7B;
$bgColorTextShadow:0px 8px 16px 0px rgba(0,0,0,0.2);
$bgElementHover: #e8e8e8;
$marginSize:30px;


.product-description-page-container {
    display:flex;
    position:relative;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
    padding:15px;
    gap:10px;
    width:100%;
    .first-column-container{
       flex:1 1 5%;
       max-width:100px;
       height:50%;
       max-height:700px;
       overflow-y:auto;
       overflow-x:hidden;
       img {
           width:100%;
           cursor:pointer;
       }
       .active-image {
        border:1px solid black;
    }
    }
    .second-column-container{
        flex: 1 1 50%;
        .selected-image {
            max-width:600px;
            height:auto;
            max-height:700px;
            width:100%;
            object-fit:contain;
            cursor:zoom-in;
        }
        .img-wide-view-container, .background-shadow {
            position: fixed;
            width: 100%;
            height: 100%;
            padding: 10px;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            justify-content: center;
            align-items: center;
            img {
                object-fit: contain;
                height:auto;
            }
            img[id="selected-wide-image"]{
                cursor:zoom-out;
                max-width:100%;
                max-height:100%;
            }
        }
        .background-shadow {
            opacity: 0.9;
            background-color: black;
        }
    }
    .third-column-container{
        flex: 1 1 30%;
        font-size:20px;
        display:flex;
        justify-content:flex-start;
        flex-direction:column;
        height:auto;
        padding:15px;
        flex-wrap:wrap;
        .content-container{
            max-width:320px;    
            .name-container{
                margin-bottom:$marginSize;
            }
            .category-container {
                margin-bottom:$marginSize;
            }
            .in-stock-container {
                margin-bottom:$marginSize;
                .outofstock-notification {
                    position: absolute;
                    width: 20px;
                    transform: rotate(90deg);
                    margin-top: -3px;
                    margin-left: 151px;
                    animation: OutOfStockNotification 500ms linear infinite;
                }
            }
            .capacity-container {
                width:100%;
                margin-bottom:$marginSize;
                flex-direction: column;
                #capacity-buttons-container {
                    display:flex;
                    justify-content:space-between;
                    button {
                        padding:10px;
                        font-size:14px;
                        background-color:white;
                        border:1px solid black;
                        display:inline-block;
                        text-decoration:none;
                        color:black;
                        border-radius:2px;
                        cursor:pointer;
                    }
                    button:hover {
                        background-color: #454545;
                        border: 1px solid silver;
                        color: white;
                    }
                    .active-button {
                        background-color:black;
                        color:white;
                        border-radius:2px;
                    }
                }
            }
            .size-container{
                width:100%;
                margin-bottom:$marginSize;
                flex-direction: column;
                
                #size-buttons-container {
                    display:flex;
                    justify-content:space-between;
                    button {
                        padding:10px 15px;
                        font-size:14px;
                        background-color:white;
                        border:1px solid black;
                        display:inline-block;
                        text-decoration:none;
                        color:black;
                        cursor:pointer;
                        border-radius:2px;
                    }
                    button:hover {
                        background-color: #454545;
                        border: 1px solid silver;
                        color: white;
                    }
                    .active-button {
                        background-color:black;
                        color:white;
                        border-radius:2px;
                    }
                }
            }
           
            .color-container {
                width:100%;
                margin-bottom: $marginSize;
                flex-direction: column;
                #color-container{
                    display:flex;
                    justify-content:space-between;
                    button {
                        text-decoration: none;
                        border:1px solid silver;
                        padding:20px;
                        min-width:20px;
                        min-height:20px;
                        display:inline-block;
                        opacity:0.3;
                        cursor:pointer;
                    }
                    button:hover, .active-button {
                        box-shadow: 0 0 5px black;
                        opacity:1;
                    }
                }
            }
            .price-container{
                width:100%;
                margin-bottom:$marginSize;
                div {padding-bottom:10px;}
            }
            .button-container {
                display: flex;
                justify-content: center;
                margin-bottom:$marginSize;
                flex-direction: column;
                width:100%;
                .notification-container {
                    width: 100%;
                    font-size: 15px;
                    position: absolute;
                    justify-content: flex-end;
                    .text-container {
                        max-height: 56px;
                        background-color: #0faa0f;
                        border-radius: 10px;
                        margin-top: -125px;
                        
                        justify-items: center;
                        text-align: center;
                        cursor: zoom-out;
                        color: white;
                        padding: 10px;
                        font-weight: bold;
                    }
                    .handpointdown-container {
                        width:25px;
                        position: absolute;
                        margin-top: -67px;
                        svg {

                            animation: handPointDown 700ms infinite linear;
                        }
                    }

                }
                .dropdown-container {
                    position:absolute;
                    width: 100%;
                    position: absolute;
                    width: 100%;
                    margin-bottom: auto;
                    height: 230px;
                    overflow-y: auto;
                    margin-top: 282px;
                    .products-dropdown-container {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        div {
                            width:100%;
                            text-decoration: none;
                            color: black;
                            background-color: #fffbfb;
                            padding: 1px;
                            font-size: 10px;
                            margin: 0;
                            display: flex;
                            justify-content: center;
                            justify-items: center;
                            cursor: pointer;
                            button[id='remove-product-button']{
                                flex: 1 1 10%;
                                margin-top: 0;
                                background-color: red;
                                color:white;
                                padding:10px;
                            }
                            span[class='text-container']{
                                flex:1  1 90%;
                                padding:10px;
                            }
                        }
                        a:hover {
                            background-color: #f0f0f0;
                            color:black;
                        }
                        .active {
                            background-color: black;
                            color:white;
                        }
                        .active:hover {
                            background-color: rgb(32, 32, 32);
                            color:white;
                        }
                    }
                }
                .buttons-container{
                    display:flex;
                    justify-content: center;
                   
                }       
                button:not(.disabled) {
                    padding:0;
                    background-color:$primary-color;
                    width: 100%;
                    flex:1 1 80%;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    color:white;
                    .svg-container, .text-container {
                        padding: 15px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        flex: 1 1 90%;
                        width:100%;
                        border:none;
                        height:100%;
                    }
                    .svg-container {
                        flex:1 1 10%;
                        background-color:#059f41;
                        svg {
                            width:8px;
                            height: 100%;
                        }
                    }
                    .svg-container:hover, .text-container:hover{
                        background-color:rgb(2, 131, 2);
                        cursor:pointer;
                    }
                    
                }
                button[id='dropdown-button']{
                    flex:1 1 10%;
                }
               
            }
            .description-container{
                font-size:13px;
            }
        }
    }
}
.disabled, .disabled:hover {
    background-color: #BEC9C1;
    cursor:not-allowed;
    padding:15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    color:white;
}
.outOfStock {
    color:red;
    animation: OutOfStock 1s 1 ease-out;
}
 @keyframes handPointDown {
     0% {
         margin-top:0;
     }
     50% {
         margin-top:10px;
     }
     100% {
         margin-top: 0;
     }
 }
 @keyframes OutOfStock {
     0% {
         text-shadow: 0 0 10px black;
     }
     100% {
         text-shadow: 0 0 500px black;
     }
 }
@keyframes OutOfStockNotification {
    0% {
        margin-left:152px;
    }
    50% {
        margin-left:140px;
    }
    100% {
        margin-left: 152px;
    }
}